@page "/AuthorIndex"

@using DataAccessLibary
@using DataAccessLibary.Models

@inherits ComponentBase 
<style>
    td{
        border: 1px solid black
    }
</style>
<h3>Author</h3>

<table>
    @foreach(var auth in authors){
    <tr>
         <td class="align-middle"> @auth.author_id</td>
         <td class="align-middle"> @auth.pseudonym</td>
         <td class="align-middle"> <button @onclick="@(() =>DeleteAuthor(@auth))">Delete</button></td>
    </tr>
}
</table>

<input type="button" onclick=@InsertNewAuthor value="Insert"/>
<input type="button" onclick=@EditAuthorInformation value="Edit"/>